:root {
    --clr-dark: #3a3a3a;
    --clr-darker: #232423;
    --clr-light: #FAFAFA;
    --clr-secondary: #a32734;
    --clr-blue:#4834b8;


    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    color: var(--clr-light);
    font-size: 20px;
    text-align: center;
}
*{
    padding: 0;
    margin: 0;
}
canvas {
    background: var(--clr-light);
    width: 80%;
    aspect-ratio: 16/9;
    
}
h1{
    color: var(--clr-secondary);
    text-shadow:
   -1px -1px 0 var(--clr-light),  
    1px -1px 0 var(--clr-light),
    -1px 1px 0 var(--clr-light),
     1px 1px 0 var(--clr-light);
     
}
b{
    color: var(--clr-secondary);
    text-shadow:
   -1px -1px 0 var(--clr-light),  
    1px -1px 0 var(--clr-light),
    -1px 1px 0 var(--clr-light),
     1px 1px 0 var(--clr-light);
}


body{
    background: var(--clr-dark);
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 20px;
}
ol{
    width: 90%;
    overflow-y: scroll;
    height: 15rem;
}
li{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
li:nth-child(2n){
    background-color: #a32734;
}
input{
    border: 2px solid var(--clr-darker);
    padding: .2rem;
    font-size: .7rem;
    background: var(--clr-light);
    
}
form{
    outline: 2px solid var(--clr-secondary);
    padding: 1rem;
}
div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
div > p{
    display: inline-block;
    background: var(--clr-light);
    color: var(--clr-darker);
    padding: 5px;
}
div kbd {
    border: 3px solid var(--clr-secondary);
    padding: 2px;
}